body{
	background-color: #FFE3C5 !important;
	font-size: 16px !important;
	font-family: 'Droid Serif', Serif !important;
}

header{
	/*
	background: url("../img/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	*/
  	width: 100%;
  	min-height: auto;
	background: #FEAC5E;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header .header-content {
    text-align: center;
    height: 100vh;
}

header .header-content .header-content-inner {
  	position: relative;
    transform: translateY(-50%);
    top: 50%;
   	background-color: rgba(0, 0, 0, 0.4);
   	color: rgb(255,236,201);
   	padding-top: 3%;
   	padding-bottom: 3%;

}

header .header-content .header-content-inner h1 {
  	font-size: 3.6em;
}

header .header-content .header-content-inner h2 {
  	font-size: 2.6em;
}

.header-content-inner .btn-lg.round {
	border-radius: 24px;
	font-size: 1.6em;
	background-color: #126A89;
	border-color: #126A89;
	color: #FFE3C5;
	padding-left: 3%;
	padding-right: 3%;
	margin-top: 3%;
	transition-duration: 0.3s;
	transition-property: all;
	transition-timing-function: linear;
}

.btn-lg.round:hover {
	background-color: #FFE3C5;
	border-color: #FFE3C5;
	color: #126A89;
	transform: scale(1.1);
}

.pic-content{
	width: 100%;
  	min-height: auto;
  	height: 26vh;
}

.pic-content-inner img{
	min-height:auto;
	height: 26vh;
 	display: block;
    margin: 1% auto;
}

.social-content{
	width: 100%;
  	min-height: auto;
  	height: 10vh;
}

.social-content-inner img{
	height: 5vh;
	padding-top: 3px;
	position: relative;
	float: center;
	opacity: 1;
	-webkit-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
	box-shadow: 0px 10px 20px grey;
	margin-left: 1%;
}

.social-content-inner{
	text-align:center;
	margin: 1% auto;
}

.social-content-inner img:hover{
	opacity: 0.8;
	transform: scale(1.3);
}

.about-content{
	width: 100%;
  	min-height: auto;
}

.about-content-inner{
	padding: 1% 10%;
}

.about-content-inner p{
	text-align: justify;
	font-size: 1.5em;
}

span{
	font-weight: bold;
}

.about-content-inner .btn-lg.round{
	border-radius: 24px;
	font-size: 1.3em;
	background-color: #126A89;
	border-color: #126A89;
	color: #FFE3C5;
	padding:1%;
	margin: 10px;
	display: block;
	width: 235px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 3%;
	text-align: center;
	transition-duration: 0.3s;
	transition-property: all;
	transition-timing-function: linear;
}

.about-content-inner .btn-lg.round:hover{
	background-color: #3C1F00;
	border-color: #3C1F00;
	color: #98EAFF;
}

#extra-hr{
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.extra-content img{
	width: 150px;
	height: 150px;
	display: block;
	margin: 3% auto;
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.extra-content img:hover{
	opacity: .5;	
}

.extra-content figcaption{
	text-align: center;
	font-weight: bold;
	font-size: 1.3em;
}

#extra-content-p{
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
	text-transform: capitalize;
}

.extra-content a, .extra-content a:hover{
	color: black;
	text-decoration: none;
}

#extra-row{
	padding-bottom: 3%;
	box-shadow: 0px 10px 10px grey;
}

#education-content-p{
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
	text-transform: capitalize;
	margin-top: 6%;
	margin-bottom: 3%;
}

.education-content img{
	width: 150px;
	height: 150px;
	display: block;
	margin: auto auto;
}

.education-content figcaption{
	text-align: center;
	font-weight: bold;
	font-size: 1.1em;
}

.education-content-inner .educationInfo{
	border: 1.5px solid #126A89;
	padding: 3%;
	margin-top: 1%;
	margin-bottom: 1%;
	box-shadow: 0px 10px 20px grey;
}

.education-content-inner .row{
	margin-bottom: 5%;
}

.education-content-inner li span{
	font-weight: bold;
}

.education-content-inner li:first-child{
	margin-bottom: 6%;
}

.education-content-inner li{
	font-size: 1.15em;
}

.after-education-content{
	height: 20px;
	box-shadow: 0px 10px 10px grey;
}

#experince-content-p{
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
	text-transform: capitalize;
	margin-top: 6%;
	margin-bottom: 3%;
}

.footer p{
	color: #FFE3C5;
	text-align: center;
}

.footer{
	background: #126A89;
}
