body,
html {
    height: 100%;
    font-family: Lucida Grande;
}

.bg {
    text-align: center;
}

h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 700px) {
    img {
        margin-top: 10%;
        height: 500px;
        width: 500px;
    }
}

@media only screen and (max-width: 600px) {
    img {
        margin-top: 10%;
        height: 400px;
        width: 400px;
    }
}