body,
html {
    height: 100%;
    font-family: Lucida Grande;
}

.bg {
    background-image: url("../img/landscape.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.top-bar {
    background-color: rgba(240, 240, 240, 0.8);
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    font-size: 0.9rem;
}

.bottom-bar img {
    margin-left: 6px;
    margin-right: 6px;
    height: 65px;
    width: 65px;
}

.bottom-bar img:hover{
    opacity: 0.8;
    transform: scale(1.3);
    -webkit-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}

@media only screen and (max-width: 600px) {
    .bottom-bar img {
        margin-left: 6px;
        margin-right: 6px;
        height: 50px;
        width: 50px;
    }
}

.bottom-bar #holder{
    padding: 8px 6px 10px 6px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: rgb(240,240,240,0.7);
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

#holder #rightBox{
    border-left: 1px solid rgb(92, 92, 92);
    padding-left: 8px;
}

#holder #vLine{
    border: 1px solid rgb(92, 92, 92);
    width: 1px;
    height: 60px;
}

#copyrights{
    font-size: 0.8rem;
}

#clockbox{
    font-weight: bold;
}

#welcomeMessage{
    border: 1px solid grey;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    color: black;
    background-color: rgba(240, 240, 240, 0.9);
    text-align: center;
    padding: 2%;
    width: 60vh;
    height: 20vh;
    margin-top: 20%;
}

.arrow1 {
    animation: slide1 1s ease-in-out infinite;
}
  
@keyframes slide1 {
    0%,
    100% {
      transform: translate(0, 0);
    }
  
    50% {
      transform: translate(0, 10px);
    }
}

#aboutSection{
    border: 1px solid grey;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    color: black;
    background-color: rgba(240, 240, 240, 0.9);
    text-align: center;
    width: 80vh;
    height: 60vh;
}

#aboutSection img{
    height: 50%;
}

#aboutSection p{
    font-size: 1.2rem;
    padding: 3%;
    text-align: justify;
    padding: 4%;
}

#aboutSection p span{
    font-weight: bold;
}

#closeBar{
    width: 100%;
    text-align: right;
    padding-right: 1%;
    padding-top: 1%;
    margin-bottom: 1%;
    background-color: rgba(240, 240, 240, 0.8);
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

#educationSection{
    border: 1px solid grey;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    color: black;
    background-color: rgba(240, 240, 240);
    text-align: center;
    width: 80vh;
    height: 60vh;
}

#educationSection span{
    font-weight: bold;
}

#educationSection .row{
    border: 1px solid #126A89;
	padding: 3%;
	margin: 2%;
	box-shadow: 0px 10px 20px grey;
}

#experienceSection{
    border: 1px solid grey;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    color: black;
    background-color: rgba(240, 240, 240);
    text-align: center;
    width: 80vh;
    height: 80vh;
}

#experienceSection span{
    font-weight: bold;
}

#experienceSection .row{
    border: 1px solid rgb(62, 137, 18);
	padding: 3%;
	margin: 2%;
	box-shadow: 0px 10px 20px grey;
}

#publicationSection{
    border: 1px solid grey;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    color: black;
    background-color: rgba(240, 240, 240);
    text-align: center;
    width: 85vh;
    height: 50vh;
}

#publicationSection span{
    font-weight: bold;
}

#publicationSection .row{
    border: 1px solid #126A89;
	padding: 3%;
	margin: 2%;
	box-shadow: 0px 10px 20px grey;
}

#connectSection{
    border: 1px solid grey;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    color: black;
    background-color: rgba(240, 240, 240);
    text-align: center;
    width: 85vh;
    height: 20vh;
}

#connectSection img{
	height: 5vh;
	margin-top: 1%;
	opacity: 1;
	transition: 0.3s ease-in-out;
	box-shadow: 0px 10px 20px grey;
	margin-left: 1%;
}

#connectSection img:hover{
	opacity: 0.8;
	transform: scale(1.3);
}