@media(min-width:767px) {
    .navbar {
        padding: 10px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

#navbar{
	background-color: rgba(0, 0, 0, 0.4);
    border-color: rgba(0, 0, 0, 0.4);
    height: 60px;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a{
	color: white !important;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover{
	color: black !important;
}

ul#navUl{
    padding-left: 20%;
}